@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');

body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.first{
    width: 50vw;
}

#tag{
    border-radius: 30px;
    padding-left: 25px;
}

#sub{
    border-radius: 15px;
}
#sub:hover{
    background-color: black;
}