@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');

body{
    font-family: 'Baloo Bhaijaan 2', cursive;
    background-color: rgb(56, 53, 53);
}

/* .first{
    width: 80vw;
} */

#tag{
    border-radius: 30px;
    padding-left: 25px;
}

.sub{
    border-radius: 15px;
    background-color: #545454;
}
.sub:hover{
    background-color: white;
    color: black;
    border: none;
}
.mycard{
    background-color: rgb(75 73 73);
    color: white;
}
.mycardbody{
    background-color: rgb(59 55 55);
    color: white;
}
.relate:hover{
    background-color: black;
    color: white;
}
.hist:hover{
    background-color: white;
    color: black;
}